header {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

h1 {
  font-size: 1.125rem;
  padding: 20px;
}

.profilimage {
  height: 2.5rem;
  border-radius: 1000px;
}

.post {
  border-top: solid #656565;
  border-bottom: solid #656565;
  padding: 2rem 2rem;
  position: relative;
}

.icons {
  width: 15px;
  height: 15px;
  filter: invert();
  margin-top: 5px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  gap: 1rem;
}

.icon--bookmark {
  width: 25px;
  height: 22px;
  filter: invert();
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.headline {
  position: absolute;
  top: 1.5rem;
  left: 5.5rem;
  font-size: 1rem;
  line-height: 0.3;
}
.headline--time {
  position: absolute;
  top: 1.4rem;
  left: -0.1rem;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #656565;
}

.headline--more {
  width: 20px;
  height: 20px;
  filter: invert(50%);
  position: absolute;
  right: 2rem;
}

.pictures {
  height: 20rem;
  margin: 10px 10px 10px 0;
  border-radius: 2rem;
}

.container--picture {
  display: flex;
  flex-wrap: none;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
}

.header--icon {
  width: 30px;
  height: 30px;
  filter: invert();
  position: absolute;
  right: 2rem;
  top: 2rem;
}
