@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.nav {
  background-color: black;

  height: 120px;
  width: 100vw;

  padding-bottom: 30px;
  padding-top: 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;

  position: fixed;
  bottom: 0;
  z-index: 1;
}

.nav__item {
  width: 30px;
  height: 30px;

  filter: invert(0.8);
}

.nav__item--highlight:active {
  filter: invert(1);
}

.nav__item--button {
  border-radius: 100px;

  filter: none;
  border: none;

  font-size: 2.5em;

  color: white;

  background-image: linear-gradient(50deg, hotpink, purple);

  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item--beam {
  position: absolute;
  z-index: -1;

  bottom: 10px;

  background-color: white;
  border-radius: 100px;
  height: 5px;
  width: 30%;
}
