.profile {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-bottom: 5rem;
}

.profile__background {
  width: 100vw;
  height: auto;
  top: 0;
}

.profile__selfie {
  width: 9rem;
  border-radius: 1000px;
  border: 4px solid black;
  position: absolute;
  bottom: -4rem;
  z-index: 1;
}

.profile__bio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile__bio--name {
  font-weight: bold;
}

.profile__bio--place {
  font-size: 0.7rem;
  color: grey;
}

.profile__bio--slogan {
  font-size: 0.8rem;
}

.profile__follow {
  display: flex;
  justify-content: space-evenly;
}

.profile__button {
  color: white;
  background: none;
  border: 2px solid grey;
  border-radius: 2rem;
  padding: 0.5em 2.5rem;
}

.profile__follow--flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile__follow--flex--number {
  font-weight: bold;
}

.profile__follow--flex--text {
  color: grey;
  font-size: 0.9rem;
}

.profile__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
}

.profile__list--marked {
  text-decoration: 3px underline;
  text-decoration-color: #2e8af6;
}

body {
  height: 1000px;
}
